<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Signin</title>
</head>
<body style="background-color: #ffffff">
    <%- include('./partials/nav.ejs') %>

    <div class="row justify-content-center mt-4">

      <div class="card" style="width: 40rem; background-color: #fc2727; opacity: 0.7; box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);">
        <div class="card-body">
          <div class="container mt-4 align-self-center">
            <form action="/user/signin" method="post">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/script.ejs') %>
</body>
</html>